In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [152]:
a = 7
b = 7
print(id(a))
print(id(b))

140736417731584
140736417731584

In [11]:
a = """ pakistan """
type(a)

str

In [15]:
#index   0       1     2    3      4
name = ["ali", "john", 20, True, False]
#index    -5     -4    -3   -2    -1
type(name)

list

In [3]:
#index   0       1     2    3      4
name = ("ali", "john", 20, True, False)
#index    -5     -4    -3   -2    -1
print(name[3])
type(name)

True

tuple

In [5]:
name = {"ali","ali","ali", "john", 20, True, False}
print(name)
print(type(name))
name = list(name)
print(name[3])
type(name)

{False, True, 20, 'john', 'ali'}
<class 'set'>
john

list

In [9]:
data = {"name":"aisha",
        "name":"mahin",
       "f_name":"ghayas",
       0 : "pakistan"}
print(type(data))
data["f_name"]

<class 'dict'>

'ghayas'

In [46]:
print(list(data.values()))
list(data)

['mahin', 'ghayas', 'pakistan']

['name', 'f_name', 0]

In [11]:
# inline functions
name = "aIshA GhaYAs" 
print("upper:",name.upper())
print("lower:",name.lower())
print("title:",name.title())
print("capitalize:",name.capitalize())
print(name)

upper: AISHA GHAYAS
lower: aisha ghayas
title: Aisha Ghayas
capitalize: Aisha ghayas
aIshA GhaYAs

In [64]:
name = "aIshA GhaYAs"
name1 = "aisha ghayas"
print(name == name1)
print(id(name), id(name1), sep="\n")
print(name)

False
2213324921648
2213324958448
aIshA GhaYAs

In [68]:
del name1
print(name1)

NameError: name 'name1' is not defined

In [13]:
name1 = "    aisha    ghayas      "
print(len(name1))
print(len(name1.strip())) #strip spaces from both sides
print(len(name1.lstrip()))#strip spaces from left sides
print(len(name1.rstrip()))#strip spaces from right sides

25
15
21
19

In [16]:
a = "we are pakistani and we love pakistan"
print(a.find("pakistan")) #return index
print(a.find("pakistan", 13)) #find pakistan after 13 positon
a[7:15:2] # slicing start:end:step

7
29

'pksa'

In [20]:
words = a.split()
print(words)
words.count("pakistan")

['we', 'are', 'pakistani', 'and', 'we', 'love', 'pakistan']

1

In [22]:
a = "we are pakistani and we love pakistan"
a[slice(3)] #slice(None, 3, None)

'we '

# concatenating strings methods

In [25]:
# 1. % operator
name = "Ali"
fname = "Rashid"
program = "PIAIC"
score = 200

print("Student Name: %s \n Father's Name: %s \n Program: %s \n Score: %d" % (name, fname,\
                                                                                 program,score))

Student Name: Ali
 Father's Name: Rashid
 Program: PIAIC
 Score: 200

In [30]:
# 2. + operator
print("student Name: " + name + " \nFather's Name: " + fname + " \nProgram: " + program + " \nScore: " + str(score))

student Name: Ali
Father's Name: Rashid
Program: PIAIC
Score: 200

In [31]:
# 3. f string method
print(f"student Name:  {name} \nFather's Name: {fname} \nProgram: {program}")

student Name:  Ali
Father's Name: Rashid
Program: PIAIC

In [34]:
# 4. format method
print("name:{}, \n father name:{}".format(name, fname))
"name:{0}, \n father name:{1}".format(name, fname)

name:Ali,
 father name:Rashid

'name:Ali, \n father name:Rashid'

In [5]:
# 5. join() function
a = "i am good"
b = "i'll go today"
", ".join([a,b])

"i am good, i'll go today"

In [116]:
a = 3
"ppp" + str(a)

'ppp3'

In [226]:
name1 = "aisha"
name2 = "Aisha"
print(name1==name2)

False

In [257]:
# taking input
print(input())
# OR
a = input()
print(a)

44
44
44
44

#  directory string

In [228]:
dir(str) #parameter can have any string variable as well for string directory

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [38]:
# upper, title, capitalize
name = "my name is aisha"
print(name.upper())# all upper
print(name.title())# initcap each word
name.capitalize()  # initcap sentence

MY NAME IS AISHA
My Name Is Aisha

'My name is aisha'

In [41]:
#casefold
name1 = "my nAmE iS AisHa gHayaS"
print(name1.casefold()) # inline chnage

my name is aisha ghayas
my nAmE iS AisHa gHayaS

In [43]:
#split, join, center, count
print(name1.split())
print(name,name1)
print(" ".join([name,name1]))
print(name.center(40))
print(name.center(40,'#')) # first parameter(width) is cumpolsory, fillchar is optional i.e space by default
name1.count("a")

['my', 'nAmE', 'iS', 'AisHa', 'gHayaS']
my name is aisha my nAmE iS AisHa gHayaS
my name is aisha my nAmE iS AisHa gHayaS
            my name is aisha
############my name is aisha############

3

In [46]:
#encode
word = "Ã¥isha"
print(word.encode())
print(word.encode("ascii", "ignore"))
word.encode("ascii", "replace")

b'\xc3\xa5isha'
b'isha'

b'?isha'

In [295]:
#endswith
word = "my name is aisha"
print(word.endswith("a"))
word.endswith("is",5,10) # endswith(suffix, start searhing from index, end)

True

True

In [304]:
#expandtabs
word = "my \tname \tis \taisha"
print(word.expandtabs()) # by default tabsize = 8
print(word.expandtabs(3))

my      name    is      aisha
my    name  is    aisha

In [345]:
# find, index (same except error)
name = "my name is aisha"
print("using find method",name.find("a"))
print("using index method",name.index("a"))
print(name.find("a",7,14)) #find(substring, start, end)
print(name.index("a",7,14)) #index(substring, start, end)
print(name.find("a",12,16))

using find method 4
using index method 4
11
11
15

In [346]:
print(name.find("z")) #if not find return -1
print(name.index("z")) # if not found return error

-1

ValueError: substring not found

In [33]:
#rindex/rfind
name = "my name is aisha"
print(name.index("a"))
print(name.rindex("a"))
print(name.rindex("a", 3, 12))
print(name.rfind('small')) #not found

4
15
11
-1

In [335]:
#format
name = "ali"
age = 15
hobby = "gaming"
num = 1000000000
print("my name is {} and i am {} years old.\nI like {}".format(name, age, hobby))
print("my name is {0} and i am {1} years old. I like {2}".format(name, age, hobby))

#Formatting numerical value in different number systems
print("age in decimal number system {0:d}".format(age))
print("age in hexadecimal number system {0:x}".format(age))
print("age in octal number system {0:o}".format(age))
print("age in binary number system {0:b}".format(age))
print("formating float value {0:,}".format(num))

my name is ali and i am 15 years old.
I like gaming
my name is ali and i am 15 years old. I like gaming
age in decimal number system 15
age in hexadecimal number system f
age in octal number system 17
age in binary number system 1111
formating float value 1,000,000,000

In [379]:
# isalnum,isalpha, isdecimal, isdigit, isnumeric (does not allow special chars, spaces or empty strings)
print("welcome".isalnum()) # only alphabets & numbers
print("hi".isalpha()) #only alphabets
print("456".isnumeric())

True
True
True

In [364]:
print("345".isdecimal()) # only decimal not even float
print("222.5".isdecimal())
print("1234".isdigit())
print("355-24567-78".isdigit())

True
False
True
False

In [373]:
# isidentifier
#in python indentifiers can only have letters, underscore and digits
print("abCd23_4".isidentifier())

True

In [393]:
#islower, isupper, istitle
sen = "i was going home. where i met my friend"
print(sen.islower())
print("welCome".islower()) #all lower
print("WELCOmE".isupper()) # all upper
print("Welcome To Home".istitle())

True
False
False
True

In [48]:
#isprintable
print("hello to the world".isprintable())
print("hello@to$the%world".isprintable())
print("hello \n to \t the world".isprintable())
print("".isprintable())

True
True
False
True

In [422]:
#isspace
str = "ab cd ef \n"  
print(str.isspace())
print("\t anjkan \t \n".isspace())
print("".isspace())
print(" ".isspace())
print("\t \f \v \r \n".isspace())
print(" abd".isspace())

False
False
False
True
True
False

In [50]:
#join
a = "aisha"
b = "ghayas"
stringlist = ["rose","leaf", "trees"]
stringtuple = ("abc","def", "ghi")

print(",".join(stringtuple))
print(",".join(stringlist))
print(" ".join([a,b]))

abc,def,ghi
rose,leaf,trees
aisha ghayas

In [12]:
a = "123"
b = "abc"
dic = {"1": "plant", "2": "tree"}

print(b.join(a))
print(a.join(b)) # seperator is a = "123"
print(" ".join(dic)) # join concatenate keys of dictionary

1abc2abc3
a123b123c
1 2

In [16]:
#ljust, rjust
print(b.ljust(5,"#"))
print(b.rjust(5))

abc##
  abc

In [20]:
#swapcase
print("ALL".swapcase())
print("all".swapcase())
print("aLl".swapcase())

all
ALL
AlL

In [50]:
#lstrip, rstrip
string = "   this is good"
print(string.lstrip())
print(string.rstrip())
print(string.lstrip(" t")) #left spaces and t removed
print(string.rstrip("dos"))
print(string.lstrip("sti"))

this is good
   this is good
his is good
   this is g
   this is good

In [44]:
random_string = '   ths is good '

print(random_string.lstrip('s thi'))

website = 'https://www.programiz.com/'
print(website.lstrip('htps:/'))

good
   ths is good
www.programiz.com/

In [61]:
#strip
string = '  Bye Sonia Bye   '

print(string.strip())
print(string.strip('a e B'))

string = 'android is awesome'
print(string.strip('an'))

Bye Sonia Bye
ye Sonia By
droid is awesome

In [76]:
#partition, rpartition
string = "Rameen is sleeping. She is going"
print(string.partition("is"))
print(string.rpartition("is"))

('Rameen ', 'is', ' sleeping. She is going')
('Rameen is sleeping. She ', 'is', ' going')

In [84]:
#split and rsplit are equal but split is faster
string = "Rameen is sleeping. She is going"
names = "sonia: amna: khola"
print(string.split())
print(names.split(":"))

['Rameen', 'is', 'sleeping.', 'She', 'is', 'going']
['sonia', ' amna', ' khola']

In [6]:
items = "cake, berry, ice, milk, sugar, cream, salt"
print(items.split(",",5)) #seperator, max number of splits, default value is -1 (no limit)
print(items.split(",",0))
print(items.split(",",1))
print(items.split(",",2))

['cake', ' berry', ' ice', ' milk', ' sugar', ' cream, salt']
['cake, berry, ice, milk, sugar, cream, salt']
['cake', ' berry, ice, milk, sugar, cream, salt']
['cake', ' berry', ' ice, milk, sugar, cream, salt']

In [91]:
string = "Rameen is sleeping. She is going"
print(string.split()) #(faster)
print(string.rsplit())

['Rameen', 'is', 'sleeping.', 'She', 'is', 'going']
['Rameen', 'is', 'sleeping.', 'She', 'is', 'going']

In [5]:
dict = {"a": "123", "b": "456", "c": "789"}
print(string.maketrans(dict))

{97: '123', 98: '456', 99: '789'}

In [34]:
#replace
sen = "warm clothes keep you warm, dont wear warm clothes in warm weather"
print(sen.replace("warm","cold",0))#number of times you want to replace
print(sen.replace("warm","cold",3))

warm clothes keep you warm, dont wear warm clothes in warm weather
cold clothes keep you cold, dont wear cold clothes in warm weather

In [48]:
#splitlines
sen = "milk\n milk\n milk"
print(sen.splitlines())
print(sen.splitlines(True))# if keepsend is true then breaks are included

['milk', ' milk', ' milk']
['milk\n', ' milk\n', ' milk']

In [59]:
#startswith
string = "wear thin clothes in warm weather"
print(string.startswith("w"))
print(string.startswith("w",21,26))#start,end searching
print(string.startswith(("thin","wear","warm"),21,26)) #tuple is passes. if any of its items matched will return true

True
True
True

In [65]:
#zfill (fill zeros)
print("hello".zfill(7))
print("-345".zfill(7))

00hello
-000345

In [2]:
# translate, maketrans
sen = "food is tasty"
inp = "ado"
out = "123"
output = sen.maketrans(inp,out)
print(sen.translate(output))

f332 is t1sty