In [3]:
#dict{item1, item2, item3}
#item = key:value
#dict doesnot keep order/sequence in which it was entered
d1 = {"id": 2,
     "name": "aisha",
     "course": "AI",
     "uni": "bahria"}
d1

{'id': 2, 'name': 'aisha', 'course': 'AI', 'uni': 'bahria'}

In [5]:
d1 = {}
d1["id"] = 1
d1["name"] = "aisha"
d1["course"] = "AI"
d1["uni"] = "bahria"

d1

{'id': 1, 'name': 'aisha', 'course': 'AI', 'uni': 'bahria'}

In [2]:
d1 = {}
skills = []
d1["skills"] = ["python"]

d1["name"] = input("enter name: ")
d1["father's name"] = input("enter father's name: ")

skills = input("enter your skills with ',' seperated value")
d1["skills"] = d1["skills"] + skills.split(",")

print(d1)

enter name: l
enter father's name: k
enter your skills with ',' seperated valuel,l
{'skills': ['python', 'l', 'l'], 'name': 'l', "father's name": 'k'}

In [ ]:

"""for
    n = input("enter name: ")
    f_name = input("enter father's name: ")
    for i in range(1,11):
        skill = input("enter your skills")
        skills.append(skill)
    d1 = {"name":n,
         "father's name":f_name,
         "skills":skills}
print(d1)"""

## getting value

In [20]:
#list
l = [1,2,3,4]
l[1]

2

In [22]:
d1 = {"id": 2,
     "name": "aisha",
     "course": "AI",
     "uni": "bahria"}
d1["uni"]

'bahria'

In [25]:
d1["uni"] = "IIUI"
d1

{'id': 2, 'name': 'aisha', 'course': 'AI', 'uni': 'IIUI'}

In [26]:
d1.clear()
d1

{}

In [28]:
d1 = {'id': 2, 'name': 'aisha', 'course': 'AI', 'uni': 'IIUI'}
del d1 #delete the whole variable
print(d1)

NameError: name 'd1' is not defined

In [34]:
d1 = {'id': 2, 'name': 'aisha', 'course': 'AI', 'uni': 'IIUI'}
d2 = d1.copy() #creates deep copy
d1.clear()
print(d1)
d2

{}

{'id': 2, 'name': 'aisha', 'course': 'AI', 'uni': 'IIUI'}

In [4]:
?dict.copy

In [40]:
d1 = {'id': 2, 'name': 'aisha', 'course': 'AI', 'uni': 'IIUI'}

In [43]:
d1 = {}
d1["id"] = None
d1["name"] = None
d1["course"] = None
d1["uni"] = None
d1

{'id': None, 'name': None, 'course': None, 'uni': None}

In [45]:
l1 = ["id","name","f_name","uni","course"]
print(l1)
d1 = dict.fromkeys(l1)
print(d1)

['id', 'name', 'f_name', 'uni', 'course']
{'id': None, 'name': None, 'f_name': None, 'uni': None, 'course': None}

In [59]:
keys = []
keys = input("enter your keys with ',' seperated value")
keys = keys.split(",")
#print(keys)
d1 = dict.fromkeys(keys)
d1

enter your keys with ',' seperated valueid,name,uni

{'id': None, 'name': None, 'uni': None}

In [60]:
list_of_keys = input("enter your keys with ',' seperated value")
list_of_keys = list_of_keys.split(",")
print(list_of_keys)

d1 = dict.fromkeys(list_of_keys,"NA") #value default = none
d1

enter your keys with ',' seperated valueid,name,uni
['id', 'name', 'uni']

{'id': 'NA', 'name': 'NA', 'uni': 'NA'}

In [35]:
list_of_keys = input("enter your keys with ',' seperated value")
list_of_keys = list_of_keys.split(",")
list_of_values = input("enter your values with ',' seperated value")
list_of_values = list_of_values.split(",")

i = 0
d1 = dict.fromkeys(list_of_keys)
for i in len(list_of_keys):
    d1[0] = list_of_values[0]
    i += 1
d1

enter your keys with ',' seperated valuea,s,d
enter your values with ',' seperated valuea,s,d

TypeError: 'int' object is not iterable

In [71]:
# [a,b,c]
# [1,2,3]
# d1 = {a:1,b:2,c:3}

l1 = ["a","b","c"]
l2 = [1,2,3]
l3 = list(zip(l1,l2))
print(l3)

d1 = dict(l3)
print(d1)

[('a', 1), ('b', 2), ('c', 3)]
{'a': 1, 'b': 2, 'c': 3}

### list of tuples to dict

In [ ]:
list_of_keys = input("enter your keys with ',' seperated value")
list_of_keys = list_of_keys.split(",")
list_of_values = input("enter your values with ',' seperated value")
list_of_values = list_of_values.split(",")

l3 = list(zip(list_of_keys,list_of_values))
d1 = dict(l3)
print(d1)

In [1]:
#or
list_of_keys = input("enter your keys with ',' seperated value").split(",")
list_of_values = input("enter your values with ',' seperated value").split(",")

l3 = list(zip(list_of_keys,list_of_values))
d1 = dict(l3)
print(d1)

enter your keys with ',' seperated valueid,name,uni
enter your values with ',' seperated value1,ai,ii
{'id': '1', 'name': 'ai', 'uni': 'ii'}

In [3]:
# above code in one line
print(dict(list(zip(input("enter keys seperated by ',' ").split(","),input("enter values seperated by ',' ").split(",")))))

enter keys seperated by ',' 1,2,3
enter values seperated by ',' a,s,d
{'1': 'a', '2': 's', '3': 'd'}

In [3]:
d1 = {'id': '1', 'name': 'ai', 'uni': 'ii'}
d1["id"]

'1'

In [12]:
print(d1.get("id"))
print(d1.get("ii")) #doesn't generate error if key not found

1
None

In [13]:
print(d1.get("id","not found"))
print(d1.get("ii","not found"))

1
not found

### dict to list of tuples

In [14]:
print(d1)
d1.items()

{'id': '1', 'name': 'ai', 'uni': 'ii'}

dict_items([('id', '1'), ('name', 'ai'), ('uni', 'ii')])

In [16]:
d1.keys()

dict_keys(['id', 'name', 'uni'])

In [17]:
d1.values()

dict_values(['1', 'ai', 'ii'])

In [1]:
d1 = {'id': '1', 'name': 'aisha', 'uni': 'iiui'}
print(d1)
print(d1.pop("uni")) #pop value, else default value
print(d1)

{'id': '1', 'name': 'aisha', 'uni': 'iiui'}
iiui
{'id': '1', 'name': 'aisha'}

In [24]:
d1 = {'id': '1', 'name': 'aisha', 'uni': 'iiui'}
print(d1)
print(d1.popitem()) #pop value
print(d1)

{'id': '1', 'name': 'aisha', 'uni': 'iiui'}
('uni', 'iiui')
{'id': '1', 'name': 'aisha'}

In [31]:
d1 = {'id': '1', 'name': 'aisha', 'uni': 'iiui'}
print(d1.setdefault("id")) #returns value of specified key, if key not present insert key
print(d1.setdefault("course"))
print(d1.setdefault("year","2019"))
print(d1)

1
None
2019
{'id': '1', 'name': 'aisha', 'uni': 'iiui', 'course': None, 'year': '2019'}

In [34]:
d1 = {"a":"AA", "b":"BB"}
d2 = {"a":"AAAA", "c":"CCCC"}

d1.update(d2) #d1 updated on its physical address (in memory change)
print(d1)

{'a': 'AAAA', 'b': 'BB', 'c': 'CCCC'}

### return sorted dictionary

In [48]:
d1 = {"a":1, "c":2, "b":3, "d":4, "e":5}

for i,j in sorted(d1.items(),reverse = True): #sorted by keys
    print(i,j)

e 5
d 4
c 2
b 3
a 1

In [52]:
d1 = {"a":1, "c":2, "b":3, "d":4, "e":5}
d2 = dict(sorted(d1.items(), reverse = True)) #sorted by keys #sorted() returns list
print(d2)

{'e': 5, 'd': 4, 'c': 2, 'b': 3, 'a': 1}

In [61]:
d1 = {"a":1, "c":2, "b":3, "d":4, "e":5}
l1 = list(d1.keys())
print(l1)
l1 = sorted(l1, reverse = True)
print(l1)
d2 = {}
for i in l1:
    d2[i] = d1[i]
d2

['a', 'c', 'b', 'd', 'e']
['e', 'd', 'c', 'b', 'a']

{'e': 5, 'd': 4, 'c': 2, 'b': 3, 'a': 1}

In [77]:
#final sorting
#item[1] ->value
#item[0] ->key

d1 = {"a":1, "c":2, "b":3, "d":4, "e":5}
{k:v for k,v in sorted(d1.items(),key = lambda x:x[1], reverse = True)}

{'e': 5, 'd': 4, 'b': 3, 'c': 2, 'a': 1}

In [76]:
d2 = {}
d1 = {"a":1, "c":2, "b":3, "d":4, "e":5}
for k,v in (sorted(d1.items(),key = lambda x:x[1], reverse = True)):
    d2[k]=v
print(d2)

{'e': 5, 'd': 4, 'b': 3, 'c': 2, 'a': 1}

In [67]:
for i in d1.items():
    print(i)

('a', 1)
('c', 2)
('b', 3)
('d', 4)
('e', 5)

In [68]:
list(d1.items()) #--> list of tuples

[('a', 1), ('c', 2), ('b', 3), ('d', 4), ('e', 5)]

In [69]:
l1 = [("A",0,"z"),
     ("C",1,"y"),
     ("B",3,"x")]

In [74]:
def abc(x):
    print(x)

abc(l1[0])

('A', 0, 'z')

In [78]:
# one line no name function --> lambda function
def abc(x):
    return x

sorted(l1, key=abc)

[('A', 0, 'z'), ('B', 3, 'x'), ('C', 1, 'y')]

(input from user) store students data: ID, name, skills in dic
    press x program stops and prints dictionary
    
    while list append

In [12]:
students = []
student = {}
skills = []

student[id] = input("enter ID: ")
student["name"] = input("enter name: ")
student["skills"] = input("enter skills seperated by ',' ").split(",")
students.append(student)
print(students)

enter ID: 1
enter name: a
enter skills seperated by ',' c,v,b
[{<built-in function id>: '1', 'name': 'a', 'skills': ['c', 'v', 'b']}]

In [87]:
lst = []
x = ""

while x != "x":
    student = {}
    student[id] = input("enter ID: ")
    student["name"] = input("enter name: ")
    student["skills"] = input("enter skills seperated by ',' ").split(",")
    lst.append(student)
    x = input("enter x to exit: ")

lst

enter ID: a
enter name: s
enter skills seperated by ',' d,f,g,h
enter x to exit:
enter ID: q
enter name: w
enter skills seperated by ',' e,r,t
enter x to exit: x

[{'a': 'a', 'name': 's', 'skills': ['d', 'f', 'g', 'h']},
 {'a': 'q', 'name': 'w', 'skills': ['e', 'r', 't']}]