In [2]:
def display(winner,score,**other_info):
    print("winner is "+ winner)
    print("score is "+ score)
    print(other_info)
display(winner = "pak", score="1-10", overtime="yes",injuries="none")

winner is pak
score is 1-10
{'overtime': 'yes', 'injuries': 'none'}

In [14]:
l1 = [1,2,3]
for i in range(len(l1)):
    print(i)
    l1.insert(1,l1[i])
print(l1)
len(l1)

0
1
2
[1, 1, 1, 1, 2, 3]

6

In [1]:
x = 2
y = x
x +=3
print(y)

2

In [6]:
l1 = [1,2,3]
i = id(l1)
del l1
l2 = [1,2,3]
i2 = id(l2)
i == i2

False

In [104]:
+1E12

1000000000000.0

In [18]:
with open("f:\\name.txt") as f:
    print(f.read())

helloAisha

In [19]:
with open("bookexercises\\name.txt") as f:
    print(f.read(2))

he

In [21]:
a = b

NameError: name 'b' is not defined

In [30]:
import math
help(math.trunc)
math.trunc(356399.332367878554)

Help on built-in function trunc in module math:

trunc(x, /)
    Truncates the Real x to the nearest Integral toward 0.

    Uses the __trunc__ magic method.

356399

In [32]:
3^4 #XOR

7

In [101]:
~5

-6

In [102]:
~~5

5

In [76]:
class foo:
    def __init__(self, x):
        self.x = x
    def __lt__(self, other):
        if self.x < other.x:
            return True
        else:
            return False

a = foo(2)
b = foo(3)
print(a < b)

True

In [1]:
def f():
    a = 2
    return "hi", 3, a
print(f())

('hi', 3, 2)

In [1]:
while a < 10:
    a += 1
print(a)

NameError: name 'a' is not defined

# string formats

In [24]:
name = "John"
age = 23.3
l = [1,2,3]

print("%s is %d years old." % (name, age))
print("a list is %s" %l)

John is 23 years old.
a list is [1, 2, 3]
float num is: 2.23

In [29]:
flo = 2.2347
print("float num is: %f" %flo)
print("float num is: %.1f" %flo)
print("float num is: %.2f" %flo)
print("float num is: %.4f" %flo)

float num is: 2.234700
float num is: 2.2
float num is: 2.23
float num is: 2.2347

In [53]:
data = ("John", "Doe", 53.44)
format_string = "Hello"

print("Hello %s %s. Your current balance is $%.2f." % data)

Hello John Doe. Your current balance is $53.44.

# number systems

In [44]:
bin(25)

'0b11001'

In [45]:
0b11001 # bin to dec

25

In [46]:
oct(25)

'0o31'

In [47]:
0o31

25

In [48]:
hex(10)

'0xa'

In [49]:
0xf

15

# swapping values in python

In [54]:
a = 3
b = 10

a,b = b,a
print(a, b, sep = "\n")

10
3

# compliment operator

In [56]:
bin(12)

'0b1100'

In [58]:
~0b1100

-13

In [72]:
~12

-13

In [86]:
a = "22"
a = int(a)
print(type(a))

a = float(a)
print(type(a))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'str'>

In [90]:
b = "22.2"
b = int(b)
print(type(b))

b = float(b)
print(type(b))
b

ValueError: invalid literal for int() with base 10: '22.2'

# dynamic generation of list of alphabets

In [94]:
chr(65)

'A'

In [95]:
l1 = list(map(chr, range(65, 91)))
l1

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [109]:
from math import sqrt as sss

In [134]:
n = "aaa"
print("%-20s hi" %n) # - will left align string
print("%8.1f hi" %7.4857) # +ive will align right

aaa                  hi
     7.5 hi

In [ ]:
try stattement can have one or more except clause
try can have finally without except
try cannot have one or more finally
w+,a+,r+ open file for updating(read,write). w+ truncates as well

In [175]:
#read and print each line of file
#ignore blanks
#when all read close file

with open("readfile.txt", "r") as f:
    a = True
    while a == True:
            line = f.readline()
            if line != "":
                if line != "\n":
                    print(line)
            else:
                print("end")
                a = False
                f.close()

hello

its line 1

its line 2

its the last line
end

# math library

In [17]:
import math

In [25]:
math.ceil(4.01)

5

In [24]:
math.floor(4.01)

4

In [28]:
math.fabs(-5.8)

5.8

In [34]:
import random
print(random.randint(5, 11)) #include both points
random.randrange(5, 12, 1) # start,stop,step  --> doesnot include stop in range

6

8

In [57]:
import os

def f(file, mode):
    with open(file, mode) as f:
        if os.path.isfile(file):
            return print(f.readline())
        else:
            return None
f("greet.py", "r")

print("hii")

# gratisexam.com-Microsoft.Pass4sureexam.by.Hudson.24q
Questions

In [188]:
m = int(input("marks: "))
if m >= 90:
    g = "A"
elif m >= 80:
    g = "B"
elif m >= 70:
    g = "C"
elif m >= 65:
    g = "D"
elif m <= 64:
    g = "F"
print(g)

marks: 4
F

In [212]:
pro = ["cat", "mouse", "dog"]
d = 0
for a in pro:
    d += 1
    if a == "cat":
        print("got it")
        break
d

got it

1

### prime numbers

In [211]:
p = 2
while p <= 100:
    isp = True
    for i in range(2,p):
        if p%i == 0:
            isp = False 
        break  
    if isp == True:
        print(p)
    p += 1

2
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [227]:
rooms = {1:"A", 2:"B", 3:"C"}
room = int(input("num"))
if room not in rooms.keys():
    print("does not exist")
else:
    print("yes it exists")

num5
does not exist

In [3]:
person = input('Enter your name: ')
print('Hello', person, '!')

Enter your name: aisha
Hello aisha !

In [10]:
n = int(input("no of nights DVD was rented: "))
t = input("DVD was rented after 8PM (y/n)? ")
day = input("rental day: ")
cost = 1.59 * n
if t == "y":
    cost += 1
if day == "sunday":
    cost = cost * 0.70
elif day == "thursday":
    cost *= 0.50
else:
    cost = cost
print("%.3f$" %cost)

no of nights DVD was rented: 3
DVD was rented after 8PM (y/n)? y
rental day: t
5.770$

# data types

In [15]:
a = 5
b = 7
a is b

False

In [10]:
a = "20"
b = 3
c = a*b
print(type(c))
c

<class 'str'>

'202020'

In [9]:
a = 22
b = 11
c = 22/11
print(type(c))
c

<class 'float'>

2.0

In [14]:
type(3.0)

float

In [18]:
2E3 #float

2000.0

In [42]:
a = '\\\\'
a[1]

'\\'

In [38]:
3//1

3

In [52]:
count = 1024
count //=2
count

512

In [60]:
10 // 3

3

In [1]:
10.4 // 3

3.0

In [65]:
bool(0)

False

In [84]:
a,b,c = 1000, 2000, 3000
print(a,c)

1000 3000

In [93]:
round(33.456, -1)

30.0

In [95]:
a = "5/"

In [98]:
print('''tom
dick


harry''')

tom
dick


harry

In [41]:
x = 4
while x >= 1:
    if x % 4 == 0:
        print("party",x)
    elif x - 2 < 0:
        print("cake", x)
    elif x / 3 == 0:
        print("greet",x)
    else:
        ("birthday",x)
    x = x-1

party 4
cake 1

In [16]:
~5

-6

In [22]:
cmp(3, 1)

NameError: name 'cmp' is not defined

In [35]:
2+4.00, 2**4.0

(6.0, 16.0)

In [38]:
7 + 1.0

8.0

In [30]:
4 % 6

4

In [62]:
for c in range(2,13):
    for r in range(2,12,1):
        print(r*c, end = " ")
    print()

4 6 8 10 12 14 16 18 20 22
6 9 12 15 18 21 24 27 30 33
8 12 16 20 24 28 32 36 40 44
10 15 20 25 30 35 40 45 50 55
12 18 24 30 36 42 48 54 60 66
14 21 28 35 42 49 56 63 70 77
16 24 32 40 48 56 64 72 80 88
18 27 36 45 54 63 72 81 90 99
20 30 40 50 60 70 80 90 100 110
22 33 44 55 66 77 88 99 110 121
24 36 48 60 72 84 96 108 120 132

In [4]:
22//3 + 3/3

8.0

In [10]:
round(2.55)

3

In [13]:
x = 1
x << 2

4

In [19]:
bin(15)

'0b1111'

In [33]:
int('1111', 2)

15

In [40]:
int(1011.4)

1011

In [54]:
0x76

118

In [55]:
bin(118)

'0b1110110'

In [58]:
0x35 | 0x76

119

In [60]:
hex(119)

'0x77'

In [66]:
 0x76

118

In [73]:
~5

-6

In [85]:
a=99
b=421
a=a^b
b=a^b
a=a^b
print(a,b)

421 99

In [94]:
0b11010100

212

In [98]:
bin(44)

'0b101100'

In [97]:
0b11000011

195

In [99]:
bin(0b1001101 + 0b1010010)

'0b10011111'

In [112]:
print(bool(112))
print(bool(" "))
print(bool(0))
print(bool(""))
bool()

True
True
False
False

False

In [123]:
l=[1, 0, 2, 0, 'hello', '', []]
list(filter(None, l))

[1, 2, 'hello']

In [130]:
{} or [] # right operand is returned. This is because each function is evaluated from left to right. Since the left operand is false, it is assumed that the right operand must be true and hence the right operand is returned

[]

In [142]:
def Truth():
    return "mn nn"
x=Truth()
bool(x)

True

In [150]:
X=55
print("05%d"%X)

0555

In [172]:
X="san-foundry"
print("%21s"%X)

          san-foundry

In [178]:
X=-122
print("-%06d"%X)

--00122

In [184]:
x = 23.236
print("%.2f" %x)

23.24

In [206]:
print('%o %s %e you' %(1, 'hello', 4.01))

1 hello 4.010000e+00 you

In [210]:
x=3.3456789
'%-6.2f | %05.2f | %+06.1f' %(x, x, x)

'3.35   | 03.35 | +003.3'

In [218]:
x=3.3456789
'%-6.1f | %05.2f | %06.1f' %(x, x, x)

'3.3    | 03.35 | 0003.3'

In [241]:
x=3.3456789
'%d' %x, str(x)

('3', '3.3456789')

In [236]:
'%f' %8.99

'8.990000'

In [242]:
"hello", 8,"dd"

('hello', 8, 'dd')

In [252]:
'%x %d' %(255, 255)

'ff 255'

In [259]:
 D=dict(p='san', q='foundry')
'{p}{q}'.format(**D)

'sanfoundry'

In [263]:
'The {0} side {1} {2}'.format('bright', 'of', 'life')

'The bright side of life'

In [271]:
'{0:f}, {2:2f}, {1:05.2f}'.format(1.23456, 7.23456, 8.23456)

'1.234560, 8.234560, 07.23'

In [ ]:
x = ['ab', 'cd']
for i in x:
    x.append(i.upper())
print(x)

In [6]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
 
    i += 1

1
2

In [16]:
i = 9
9%0o11

0

In [18]:
0o11

9

In [21]:
print(True)

True

In [8]:
a ="njnk"
print(len(a))
range(len(a))

4

range(0, 4)

In [11]:
x = 'abcd'
for i in range(len(x)):
    print(x,i)
    x = 'a'

abcd 0
a 1
a 2
a 3

In [13]:
d = {0: 'a', 1: 'b', 2: 'c'}
for x, y in d.items():
    print(x, y)

0 a
1 b
2 c

In [30]:
d = {0, 1, 2}
for x in d:
    print(x)
a=d.pop()
q = {1,2,3,4}
#d.add(1)
type(d)
q.issubset(d)

0
1
2

False

In [39]:
for i in range(int(3.0)): #range only takes int
    print(i)

0
1
2

In [51]:
for i in range(4):
    if i == 5:
        break
    else:
        print(i)
else:
    print("Here")

0
1
2
3
Here

In [7]:
a = [0, 1, 2, 3]
for a[-1] in a:
    print(a[-1] in a)

True
True
True
True

In [134]:
a = [0, 1, 2, 3]
i = -2
for i not in a:
    print(i)
    i += 1

SyntaxError: invalid syntax (<ipython-input-134-5320afd97d10>, line 3)

In [12]:
ord("A")

65

In [13]:
chr(65)

'A'

In [17]:
print (r"\nhello")

\nhello

In [21]:
print('new' 'line')
print('new', 'line')

newline
new line

In [23]:
print('x\97\x98')

x\97

In [32]:
class tester:
    def __init__(self, id):
        self.id = str(id)
        id="224"
 
temp = tester(12)
print(temp.id)

12

In [34]:
max("what are you")

'y'

In [53]:
 print("hello\example\\test.txt")

hello\example\test.txt

In [60]:
len("\\\\")

2

In [64]:
print(format("Welcome", "10s"), end = '#')

Welcome   #

In [70]:
print(format(123.4567898, "f"))

123.456790

In [72]:
print(format("Welcome", "10s"), end = '#')

Welcome   #

In [73]:
s = "aaaa"
s.__len__()

4

In [74]:
len(s)

4

In [79]:
s1 = "Good"
s2 = "Goodo"
id(s1) == id(s2)

False

In [93]:
print("abcde".center(6,"1")) #if final str is even (6) right padding

abcde1

In [94]:
print("abcdef".center(7, "1"))

1abcdef

In [98]:
my_string = ";soajioalndi"
k = [print(i) for i in my_string if i not in "aeiou"]
k

;
s
j
l
n
d

[None, None, None, None, None, None]

In [99]:
x = [i**+1 for i in range(3)]; print(x);

[0, 1, 2]

In [105]:
for i in range(1,3):
    i**-1 
    print(i)

1
2

In [109]:
print([[i+j for i in "abc"] for j in "def"])

[['ad', 'bd', 'cd'], ['ae', 'be', 'ce'], ['af', 'bf', 'cf']]

In [121]:
l = []
for i in "def":
    l1 = []
    for j in "abc":
        l1.append(j+i)
    l.append(l1)
print(l)

[['ad', 'bd', 'cd'], ['ae', 'be', 'ce'], ['af', 'bf', 'cf']]

In [126]:
2/3

0.6666666666666666

In [143]:
import math
print(math.fabs(-3))
abs(-3.0)

3.0

3.0

In [145]:
print(math.factorial(3))

6

In [148]:
import datetime
d=datetime.date(2016,7,24)
print(d)

2016-07-24

In [152]:
a = datetime.date.today()
a.month()

TypeError: 'int' object is not callable

In [158]:
import random
random.randint(1,6)

3

In [160]:
random.choice([2,3,4])

4

In [164]:
random.uniform(3,4)

3.078772320671379

In [165]:
random.seed()
random.uniform(3,4)

3.5132783104979657

In [169]:
import sys
sys.version

'3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]'

In [173]:
sys.argv()

TypeError: 'list' object is not callable

In [7]:
import json

dct = {1:2, 3:4}
lst = [1,2,3]
with open ("dic+lst.json") as f:
#    json.dump(dct, f)
    #json.dump(lst, f)
    a = json.load(f)
    print(a)

JSONDecodeError: Extra data: line 1 column 17 (char 16)