In [2]:
import numpy as np

In [71]:
a = np.arange(1,28).reshape((3,3,3))
a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [4]:
print(a[1,1,2])
print(a[1][1][2])
print(a[-2,-2,1])

15
15
14

In [4]:
names = np.array(["aisha", "soni", "shamo","warda"])
data = np.random.randn(6,4)
print(names,data, sep = "\n")

['aisha' 'soni' 'shamo' 'warda']
[[-0.14011329 -0.43056925 -1.33790986 -1.02312978]
 [-1.77672788  0.27612065  0.34574942 -1.9414517 ]
 [ 1.11474613 -0.10594345  0.46436857  0.33049169]
 [ 1.60596063  0.72240512  1.80841092 -0.36751477]
 [ 1.64993955  0.82527561 -1.10866249  1.20922224]
 [ 0.82021289  1.65871327  1.45317771 -1.07138517]]

In [7]:
names=="aisha"

array([ True, False, False, False])

# fancy slicing

In [14]:
a = np.arange(3*3*3).reshape((3,3,3))
a

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [15]:
#arr[slide, row, col]

In [16]:
print(a)
print(a[[-1,-2,0],:,:])
#print(a[[-1,-2,0]])

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[18 19 20]
  [21 22 23]
  [24 25 26]]]
[[[18 19 20]
  [21 22 23]
  [24 25 26]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]]

In [18]:
#print(a[:,[1,2],:]) slice all slides from second rows till end
print(a[:,1:,:])

[[[ 3  4  5]
  [ 6  7  8]]

 [[12 13 14]
  [15 16 17]]

 [[21 22 23]
  [24 25 26]]]

In [13]:
a[0] #first slide

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [22]:
a[1] = 5 #not possible in python e.g l = [1,2,3]  l[:2] = 5 not possible
a
#replace them by 5
# update while slicing permanently

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 5,  5,  5],
        [ 5,  5,  5],
        [ 5,  5,  5]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [51]:
a = np.arange(9).reshape((3,3))
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [57]:
#a[1:,1:]
#a[-2:,-2:]
a[1:3,1:3]

array([[4, 5],
       [7, 8]])

In [29]:
names = np.array(["aisha", "soni", "shamo","warda", "aisha", "s"])
data = np.random.randn(6,4)
print(names,data, sep = "\n")

data[(names == "aisha")|(names=="soni")]

['aisha' 'soni' 'shamo' 'warda' 'aisha' 's']
[[-0.5589177  -0.87212745 -0.71317591  0.37737781]
 [ 1.121325    0.37860034 -1.2735558   0.72039116]
 [ 0.54659005  0.76118244 -0.07870615 -0.18884098]
 [-0.54463441  0.2297323   0.50445583 -0.38477299]
 [ 0.8174706  -2.38275641 -0.39474072  0.21347749]
 [ 0.13956707  0.8579895  -0.30949898  1.53847082]]

array([[-0.5589177 , -0.87212745, -0.71317591,  0.37737781],
       [ 1.121325  ,  0.37860034, -1.2735558 ,  0.72039116],
       [ 0.8174706 , -2.38275641, -0.39474072,  0.21347749]])

In [30]:
data[~(names == "aisha")&~(names=="soni")]
#data[(names != "aisha")&(names!="soni")]

array([[ 0.54659005,  0.76118244, -0.07870615, -0.18884098],
       [-0.54463441,  0.2297323 ,  0.50445583, -0.38477299],
       [ 0.13956707,  0.8579895 , -0.30949898,  1.53847082]])

In [33]:
#reverse
data[:,::-1] #start, stop, step

array([[ 0.37737781, -0.71317591, -0.87212745, -0.5589177 ],
       [ 0.72039116, -1.2735558 ,  0.37860034,  1.121325  ],
       [-0.18884098, -0.07870615,  0.76118244,  0.54659005],
       [-0.38477299,  0.50445583,  0.2297323 , -0.54463441],
       [ 0.21347749, -0.39474072, -2.38275641,  0.8174706 ],
       [ 1.53847082, -0.30949898,  0.8579895 ,  0.13956707]])

In [44]:
a = np.arange(8*4).reshape((8,4))
print(a)
for i in range(len(a)):
    a[i]=i
#or for i, _ in enumenumerate(a):   _means not used value generated and dumped
#    a[i]=i
a

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]

array([[0, 0, 0, 0],
       [1, 1, 1, 1],
       [2, 2, 2, 2],
       [3, 3, 3, 3],
       [4, 4, 4, 4],
       [5, 5, 5, 5],
       [6, 6, 6, 6],
       [7, 7, 7, 7]])

In [46]:
a[[5,4,3]]

array([[5, 5, 5, 5],
       [4, 4, 4, 4],
       [3, 3, 3, 3]])

In [59]:
a = np.arange(8*4).reshape((8,4))
print(a)
print(a[[5,4,3]])
#a[[5,4,3]][:,[3,1]] 
a[[5,4,3],[3,1,2]]

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]
[[20 21 22 23]
 [16 17 18 19]
 [12 13 14 15]]

array([23, 17, 14])

In [53]:
a = np.arange(32).reshape((8,4))
print(a)
a[[1,5,7,2]][:,[0,3,1,2]]

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]

array([[ 4,  7,  5,  6],
       [20, 23, 21, 22],
       [28, 31, 29, 30],
       [ 8, 11,  9, 10]])

# transpose
- row --> col
- col--> row

In [55]:
a = np.arange(4*3).reshape((4,3))
print(a)
print(a.T) #orprint(a.transpose())
print(a.T.T)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
[[ 0  3  6  9]
 [ 1  4  7 10]
 [ 2  5  8 11]]
[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [4]:
a = np.array([[1,2],
              [3,4]])
b = a + 2
print(a,b, sep="\n\n")
print(a*b)

[[1 2]
 [3 4]]

[[3 4]
 [5 6]]
[[ 3  8]
 [15 24]]

In [5]:
a

array([[1, 2],
       [3, 4]])

In [6]:
a.dot(a.T)

array([[ 5, 11],
       [11, 25]])

In [9]:
a = np.arange(27).reshape((3,3,3))
a

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [10]:
a.T

array([[[ 0,  9, 18],
        [ 3, 12, 21],
        [ 6, 15, 24]],

       [[ 1, 10, 19],
        [ 4, 13, 22],
        [ 7, 16, 25]],

       [[ 2, 11, 20],
        [ 5, 14, 23],
        [ 8, 17, 26]]])

In [22]:
print(a)
print(a.transpose((2,1,0)))

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[18 19 20]
  [21 22 23]
  [24 25 26]]]
[[[ 0  9 18]
  [ 3 12 21]
  [ 6 15 24]]

 [[ 1 10 19]
  [ 4 13 22]
  [ 7 16 25]]

 [[ 2 11 20]
  [ 5 14 23]
  [ 8 17 26]]]

In [25]:
a = np.arange(12).reshape(4,3)
print(a)
print(a.swapaxes(1,0)) #1 0 are indexes of shape

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
[[ 0  3  6  9]
 [ 1  4  7 10]
 [ 2  5  8 11]]

# universal functions

In [68]:
l = np.array([-1,2,3-5,6,0])
np.abs(l) #ignore -

array([1, 2, 2, 6, 0])

In [70]:
np.fabs(l) # float abs

array([1., 2., 2., 6., 0.])

In [71]:
np.square([2,3,4])

array([ 4,  9, 16], dtype=int32)

In [26]:
np.exp([2,3])

array([ 7.3890561 , 20.08553692])

In [27]:
np.exp??

ciel, floor ==> to round off values

In [75]:
np.ceil([2.2, 2.6, 3.1])

array([3., 3., 4.])

In [76]:
np.floor([2.2, 2.6, 3.1])

array([2., 2., 3.])

In [77]:
a = np.array([2.2, 2.6, 3.1])
print(a)

[2.2 2.6 3.1]

seperate whole and point values

In [80]:
for i in [2.2, 2.6, 3.1]:
    i = str(i).split(".")
    print(i[0],i[1])

2 2
2 6
3 1

In [85]:
f, w = np.modf(a)
print(w,f,sep="\n\n")

[2. 2. 3.]

[0.2 0.6 0.1]

In [86]:
a = np.array([1,3,45])
b = np.array([2,4,3])

print(np.maximum(a,b))

[ 2  4 45]

In [31]:
a = np.array([1,3,45])
b = np.array([2,4,3])

print(np.minimum(a,b))

[1 3 3]

In [33]:
a = np.arange(3*3*3).reshape((3,3,3))
a % 3 == 0

array([[[ True, False, False],
        [ True, False, False],
        [ True, False, False]],

       [[ True, False, False],
        [ True, False, False],
        [ True, False, False]],

       [[ True, False, False],
        [ True, False, False],
        [ True, False, False]]])

np.where(condition, value_True, value_False)

In [93]:
np.where(a%3==0, "Yes", "No")

array([[['Yes', 'No', 'No'],
        ['Yes', 'No', 'No'],
        ['Yes', 'No', 'No']],

       [['Yes', 'No', 'No'],
        ['Yes', 'No', 'No'],
        ['Yes', 'No', 'No']],

       [['Yes', 'No', 'No'],
        ['Yes', 'No', 'No'],
        ['Yes', 'No', 'No']]], dtype='<U3')

In [96]:
a = np.array([1,3,45])
b = np.array([2,4,3])

np.where(b>a, "yes", "no")

array(['yes', 'yes', 'no'], dtype='<U3')

In [ ]:
problem solution

In [28]:
stopwords = ["to", "a", "for", "by", "an"]
org = "The org for safety, health and edu"

In [29]:
a = org.split(" ")
for i in a:
    stopwords.append(i[1:])
stopwords

['to', 'a', 'for', 'by', 'an', 'he', 'rg', 'or', 'afety,', 'ealth', 'nd', 'du']