In [1]:
num = -8.7
ab_num = abs(num)
print(ab_num)
#OR
print(abs(2 + 7))

8.7
9

In [3]:
#The all() function returns True if all items or values in an iterable are true, otherwise it returns False.
#If the iterable object is empty, the all() function also returns True. 
#parameter: An iterable object (list, tuple, dictionary)

print(all({}))
print(all({""}))
print(any({0,0,9}))
print(all({" ","","c","s"}))
all({" ","a","c","s"})

True
False
True
False

True

In [45]:
#Like all(), it takes one argument and returns True if, even one value in the iterable has a Boolean value of True.
print(any({}))
print(any({""}))
print(any({0,0}))
print(any({" ","","c","s"}))
any({" ","a","c","s"})

False
False
False
True

True

In [47]:
#The ascii() function will replace any non-ascii characters with escape characters
ascii("My name is St√•le")

"'My name is St\\xe5le'"

In [18]:
#bin() converts int to binary.
bin(8579)

'0b10000110000011'