# Types of operator

- arithmetic
- comparison (relational)
- assignment
- logical
- bitwise
- membership
- identity


# arithmetic

+ add
- sub
* mul
/ div
// floot division
** power
% modulus

In [3]:
5.0 + 4.5

9.5

In [4]:
"aisha" + "ghayas"

'aishaghayas'

In [6]:
["a","b"] + ["c","d"]

['a', 'b', 'c', 'd']

In [7]:
("a","b") + ("c","d")

('a', 'b', 'c', 'd')

In [8]:
# doesnot apply on set and dic
{"a", "b"} + {"c"+"d"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [11]:
{3,6,8} - {4,9,3}

{6, 8}

In [9]:
{1:"a",2:"b"} + {2:"c",3:"d"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [12]:
3 * 2

6

In [13]:
"a" * 3

'aaa'

In [14]:
["a","b"] * 3

['a', 'b', 'a', 'b', 'a', 'b']

In [16]:
("a","b") * 3

('a', 'b', 'a', 'b', 'a', 'b')

In [15]:
# * does not apply on set and dic

In [17]:
2 ** 3

8

In [22]:
12/3.0

4.0

In [18]:
12/3

4.0

In [25]:
print(12//5) #float division ignores decimal points
12//3

2

4

In [26]:
12 % 5 #remainder

2

# comparison

== equal
> greater than
< less than
>= greater than equal
<= less than equal
!= not equal

In [28]:
print('Hi' == 'hi')
"Hi" == "hi"

False

False

In [31]:
print("2" == 2)
2 == 2.0 # only datatype is change doesnt matter

False

True

In [32]:
['a','b'] == ['a','B']

False

In [33]:
6 > 10

False

In [34]:
10 > 6

True

In [36]:
10 >= 10 #or 10 > 9

True

In [37]:
11 >= 10

True

65 = A -> 90 = Z
97 = a -> 122 = z
48 = 0 -> 57 = 9

In [42]:
chr(48)

'0'

In [44]:
ord("0")

48

In [45]:
chr(66)

'B'

In [46]:
ord("B")

66

In [38]:
"A" > "B"

False

In [47]:
"B" > "A"

True

In [51]:
print("aisha" != "Aisha")
"B" != "A"

True

True

# assignment operator

=
+=
-=
*=
**=
/=
//=
%=

In [54]:
a = 5
a = 7
a = 3 #overwritting
print(a)

3

In [56]:
a = 1
a += 2 # a = a + 2
a += 3 # a = a + 3
a += 4 # a = a + 4
print(a)

10

In [57]:
a = 100
a -= 2
a -= 3
a -= 4
print(a)

91

In [58]:
a = 1
a *= 2
a *= 3
a *= 4
print(a)

24

In [59]:
a = 100
a /= 2
a /= 2
print(a)

25.0

In [62]:
a = 100
a //= 2
a //= 2
print(a)

25

In [63]:
a = 2
a **= 2 # 2**2 = 4
a **= 2 # 4**2 = 16
print(a)

16

In [66]:
a = 2
a **= 3 # 2**3 = 8
a **= 3 # 8**3 = 512
print(a)

512

In [69]:
a = 21
a %= 5 # a = a % 5
print(a)

1

In [68]:
a = "A"
a *= 3
print(a)

AAA

In [70]:
a = "A"
a += "B" # a = a + "B" = "AB"
a += "C" # a = a + "C" = "ABC"
print(a)

ABC

In [71]:
a = a + "B"
print(a)

ABCB

# logical operators

and = &
or = |
not !=, <>

In [73]:
user = "aisha"
pas = 2233

print(user == "aisha")
print(pas == 2233)

True
True

In [74]:
True and True & True and True

True

In [75]:
True & True & True and False

False

In [76]:
True or True | True | false

True

In [84]:
a = "A"
b = "B"
c = "C"
d = "D"

print((a=="A") & (b == "B") & (c == "C") & (d == "D")) #& works with bool only
print(a=="A" and b == "B" and c == "C" and d == "D")

True
True

In [86]:
a = "A"
b = "B"
c = "C"
d = "D"

print((a=="A") & (b == "B") & (c == "C") & (d == "D")) 
print(a=="A" and b == "B" and c == "C" and d == "D")

True
False

In [95]:
user = input("name")
pas = input("password")

(user == "Aisha" or user == "abc" or user == "admin") and pas == "123"

nameabc
password22

False

In [96]:
not(True)

False

In [97]:
not(False)

True

In [98]:
not(True and True)

False

In [103]:
# dont allow this user to login
user = "Aisha"
pas = 123

not(user == "Aisha" and pas == 123) # (True and True) -> false (can't login)

False

# Bitwise operator

In [104]:
bin(65)

'0b1000001'

In [105]:
28 & 29 #and operation bit vise

28

In [107]:
ord("A") #returns decimal of char

65

In [108]:
bin(65)

'0b1000001'

In [113]:
28 | 29 #or operation bit vise

29

In [115]:
#XOR
28 ^ 29

1

In [116]:
#11101
29<<2  #left shift binary code
#1110100

116

In [117]:
#11101
29>>2  #right shift binary code
#00111

7

In [120]:
print(bin(116))
bin(7)

0b1110100

'0b111'

11001 -> 25
1100100 -> 100
110 -> 6

In [121]:
25 >> 2

6

In [122]:
25 << 2

100

# membership operator

in operator

In [125]:
names = ["aisha", "warda", "sonia", "amna"]
for name in names:
    if name == "aisha":
        print(True)

True

In [129]:
print("ali" in names)
print("ali" not in names)
"aisha" in names

False
True

True

In [131]:
a = input()
print("pakistan" in a)

i live in pakistan
True

# identity operator

is operator

In [134]:
a = "5"
b = 5
c = a

print(a is b) # a == b
print(a is c) # a == c

False
True

# Control Flow
- if, else elif

syntax
 
    if Logic:
        code runs if logic True
    else:
        code runs if logic False

In [137]:
if False:
    print("if runs")
else:
    print("else runs")

else runs

In [1]:
if True:
    print("if runs")
else:
    print("else runs")

if runs

comprehensive style:

True_block if logic else False_block

In [2]:
print("if runs" if False else "else runs")
"if runs" if True else "else runs"

else runs

'if runs'

In [12]:
user = input("username")
pas = input("password")

(user == "aisha" or user == "admin" or user == "abc") & (pas == "1234")

usernameadmin
password1234

True