In [1]:
import numpy as np

In [2]:
a = np.arange(1,28).reshape((3,3,3))
a

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [9]:
print(a[1,1,2])
print(a[1][1][2])
print(a[-2,-2,1])

14
14
13

In [5]:
names = np.array(["aisha", "soni", "shamo","warda"])
data = np.random.randn(6,4)
print(names,data, sep = "\n")

['aisha' 'soni' 'shamo' 'warda']
[[-0.28175776 -1.45048761  0.60393163 -0.76601677]
 [ 0.7547715   1.17458672 -0.56526378  0.35348767]
 [-1.45882326  1.3636932  -1.5608159  -0.06026476]
 [-2.77760548  0.28325115 -0.4397862   1.71904123]
 [ 1.72265632  0.03845319  0.28018028  0.13029884]
 [-1.40023987  1.06736636  1.20640801  0.51950374]]

In [7]:
names=="aisha"

array([ True, False, False, False])

# fancy slicing

In [8]:
a = np.arange(3*3*3).reshape((3,3,3))
a

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [10]:
#arr[slide, row, col]

In [17]:
print(a)
print(a[[-1,-2,0],:,:])
#print(a[[-1,-2,0]])

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[18 19 20]
  [21 22 23]
  [24 25 26]]]
[[[18 19 20]
  [21 22 23]
  [24 25 26]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]]

In [14]:
#print(a[:,[1,2],:]) slice all slides from second rows till end
print(a[:,1:,:])

[[[ 3  4  5]
  [ 6  7  8]]

 [[12 13 14]
  [15 16 17]]

 [[21 22 23]
  [24 25 26]]]

In [18]:
a[0] #first slide

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [22]:
a[1] = 5 #not possible in python e.g l = [1,2,3]  l[:2] = 5 not possible
a
#replace them by 5
# update while slicing permanently

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 5,  5,  5],
        [ 5,  5,  5],
        [ 5,  5,  5]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [23]:
a = np.arange(9).reshape((3,3))
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [28]:
#a[1:,1:]
a[-2:,-2:]
#a[1:3,1:3]

array([[4, 5],
       [7, 8]])

In [32]:
names = np.array(["aisha", "soni", "shamo","warda", "aisha", "s"])
data = np.random.randn(6,4)
print(names,data, sep = "\n")

data[(names == "aisha")|(names=="soni")]

['aisha' 'soni' 'shamo' 'warda' 'aisha' 's']
[[-0.83501413 -1.48181279 -2.5925879   1.7680998 ]
 [-2.17204069 -0.42023811  0.56264985 -0.54221192]
 [-1.03982314  0.08255834  1.0487448  -1.71561746]
 [ 0.3261817  -1.63289594 -0.38190183 -1.18179314]
 [-1.3544197   1.30210298  0.52152125  0.60424766]
 [ 0.91819389 -1.49255489 -0.57450116  0.93975148]]

array([[-0.83501413, -1.48181279, -2.5925879 ,  1.7680998 ],
       [-2.17204069, -0.42023811,  0.56264985, -0.54221192],
       [-1.3544197 ,  1.30210298,  0.52152125,  0.60424766]])

In [38]:
data[~(names == "aisha")&~(names=="soni")]
data[(names != "aisha")&(names!="soni")]

array([[-1.03982314,  0.08255834,  1.0487448 , -1.71561746],
       [ 0.3261817 , -1.63289594, -0.38190183, -1.18179314],
       [ 0.91819389, -1.49255489, -0.57450116,  0.93975148]])

In [39]:
#reverse
data[:,::-1]

array([[ 1.7680998 , -2.5925879 , -1.48181279, -0.83501413],
       [-0.54221192,  0.56264985, -0.42023811, -2.17204069],
       [-1.71561746,  1.0487448 ,  0.08255834, -1.03982314],
       [-1.18179314, -0.38190183, -1.63289594,  0.3261817 ],
       [ 0.60424766,  0.52152125,  1.30210298, -1.3544197 ],
       [ 0.93975148, -0.57450116, -1.49255489,  0.91819389]])

In [42]:
a = np.arange(8*4).reshape((8,4))
print(a)
for i in range(len(a)):
    a[i]=i
#or for i, _ in enumenumerate(a):   _means not used value generated and dumped
#    a[i]=i
a

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]

array([[0, 0, 0, 0],
       [1, 1, 1, 1],
       [2, 2, 2, 2],
       [3, 3, 3, 3],
       [4, 4, 4, 4],
       [5, 5, 5, 5],
       [6, 6, 6, 6],
       [7, 7, 7, 7]])

In [44]:
a[[5,4,3]]

array([[5, 5, 5, 5],
       [4, 4, 4, 4],
       [3, 3, 3, 3]])

In [51]:
a = np.arange(8*4).reshape((8,4))
print(a)
print(a[[5,4,3]])
a[[5,4,3]][:,[3,1]]

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]
[[20 21 22 23]
 [16 17 18 19]
 [12 13 14 15]]

array([[23, 21],
       [19, 17],
       [15, 13]])

In [53]:
a = np.arange(32).reshape((8,4))
print(a)
a[[1,5,7,2]][:,[0,3,1,2]]

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]

array([[ 4,  7,  5,  6],
       [20, 23, 21, 22],
       [28, 31, 29, 30],
       [ 8, 11,  9, 10]])

# transpose
- row --> col
- col--> row

In [55]:
a = np.arange(4*3).reshape((4,3))
print(a)
print(a.T) #orprint(a.transpose())
print(a.T.T)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
[[ 0  3  6  9]
 [ 1  4  7 10]
 [ 2  5  8 11]]
[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [58]:
a = np.array([[1,2],
              [3,4]])
b = a + 2
print((a,b), sep="\n\n", end="\n\n")
print(a*b)

(array([[1, 2],
       [3, 4]]), array([[3, 4],
       [5, 6]]))

[[ 3  8]
 [15 24]]

In [60]:
a

array([[1, 2],
       [3, 4]])

In [61]:
a.dot(a.T)

array([[ 5, 11],
       [11, 25]])

In [62]:
a = np.arange(27).reshape((3,3,3))
a

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [63]:
a.T

array([[[ 0,  9, 18],
        [ 3, 12, 21],
        [ 6, 15, 24]],

       [[ 1, 10, 19],
        [ 4, 13, 22],
        [ 7, 16, 25]],

       [[ 2, 11, 20],
        [ 5, 14, 23],
        [ 8, 17, 26]]])

In [64]:
print(a)
print(a.transpose((2,1,0)))

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]

 [[18 19 20]
  [21 22 23]
  [24 25 26]]]
[[[ 0  9 18]
  [ 3 12 21]
  [ 6 15 24]]

 [[ 1 10 19]
  [ 4 13 22]
  [ 7 16 25]]

 [[ 2 11 20]
  [ 5 14 23]
  [ 8 17 26]]]

In [67]:
a = np.arange(12).reshape(4,3)
print(a)
print(a.swapaxes(1,0)) #1 0 are indexes of shape

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]
[[ 0  3  6  9]
 [ 1  4  7 10]
 [ 2  5  8 11]]

# universal functions

In [68]:
l = np.array([-1,2,3-5,6,0])
np.abs(l) #ignore -

array([1, 2, 2, 6, 0])

In [70]:
np.fabs(l) # float abs

array([1., 2., 2., 6., 0.])

In [71]:
np.square([2,3,4])

array([ 4,  9, 16], dtype=int32)

In [73]:
np.exp([2,3])

array([ 7.3890561 , 20.08553692])

In [74]:
np.exp??

ciel, floor ==> to round off values

In [75]:
np.ceil([2.2, 2.6, 3.1])

array([3., 3., 4.])

In [76]:
np.floor([2.2, 2.6, 3.1])

array([2., 2., 3.])

In [77]:
a = np.array([2.2, 2.6, 3.1])
print(a)

[2.2 2.6 3.1]

seperate whole and point values

In [80]:
for i in [2.2, 2.6, 3.1]:
    i = str(i).split(".")
    print(i[0],i[1])

2 2
2 6
3 1

In [85]:
f, w = np.modf(a)
print(w,f,sep="\n\n")

[2. 2. 3.]

[0.2 0.6 0.1]

In [86]:
a = np.array([1,3,45])
b = np.array([2,4,3])

print(np.maximum(a,b))

[ 2  4 45]

In [90]:
a = np.array([1,3,45])
b = np.array([2,4,3])

print(np.maximum(a,b))

[ 2  4 45]

In [92]:
a = np.arange(3*3*3).reshape((3,3,3))
a % 3 == 0

array([[[ True, False, False],
        [ True, False, False],
        [ True, False, False]],

       [[ True, False, False],
        [ True, False, False],
        [ True, False, False]],

       [[ True, False, False],
        [ True, False, False],
        [ True, False, False]]])

np.where(condition, value_True, value_False)

In [93]:
np.where(a%3==0, "Yes", "No")

array([[['Yes', 'No', 'No'],
        ['Yes', 'No', 'No'],
        ['Yes', 'No', 'No']],

       [['Yes', 'No', 'No'],
        ['Yes', 'No', 'No'],
        ['Yes', 'No', 'No']],

       [['Yes', 'No', 'No'],
        ['Yes', 'No', 'No'],
        ['Yes', 'No', 'No']]], dtype='<U3')

In [96]:
a = np.array([1,3,45])
b = np.array([2,4,3])

np.where(b>a, "yes", "no")

array(['yes', 'yes', 'no'], dtype='<U3')